- op: add
  path: /metadata/labels
  value: {}

- op: add
  path: /metadata/labels/team
  value: alpha

- op: add
  path: /metadata/labels/stage
  value: prod

- op: add
  path: /metadata/labels/app.kubernetes.io~1part-of
  value: easytrade

- op: add
  path: /metadata/labels/app.kubernetes.io~1version
  value: "1.0.0"